@use "../../Scss/index" as *;


.loaderWrapper {
  display: flex;
  min-height: 80vh;
  justify-content: center;
  margin: auto;
}

.wrapper {
  display: flex;
  gap: 1rem;
  flex-direction: column;
  padding: 0 0.5rem;
  margin: 0 auto;
  max-width: 920px;

  .headerPart {
    margin-top: 1.25rem;
    color: $light_grey;
    font-size: 0.75rem;


    .title {
      font-size: 2rem;
      line-height: 2.125rem;
      color: $white;
      margin-bottom: 0.33rem;
    }

    > div {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .subtitle {
        .releaseDate {
          color: $dark_grey;
        }

        .runtime {
          color: $dark_grey;
        }

        .runtime:before {
          content: "";
          background-color: $dark_grey;
          display: inline-block;
          margin: 0 0.5rem 0.2rem;
          font-size: 1rem;
          line-height: .5rem;
          padding: 1px;
          border-radius: $circle;
          vertical-align: middle;
        }

        .filmStatus {
          color: $dark_grey;

          .statusTitle {
            font-weight: bold;
            margin-right: 0.5rem;
          }
        }
      }
    }

    .bookmark {
      box-sizing: border-box;
      border: 1px solid $very_dark_grey;
      font-size: 0.75rem;
      padding: 0.5rem;
      color: $grey;
      background: $dark_blue;
      border-radius: 0.5rem;
      min-width: 122px;
      text-align: start;
      max-height: 2.3125rem;
      height: 2.3125rem;
      display: flex;
      align-items: center;
      line-height: 0;

      > span > span {
        margin-right: 0.5rem;
        font-size: 1rem;
      }
    }
  }

  .promotionalPart {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    .poster {
      height: 20rem;
      border-radius: 0.5rem;
      margin-right: 0.5rem;
      margin-bottom: 0.5rem;
    }

    .trailer {
      border: none;
      border-radius: 0.5rem;
      width: $full;
      max-width: 30rem;
      min-width: 18.75rem;
      min-height: 15rem;
    }
  }

  .genresContainer {
    display: flex;
    flex-wrap: wrap;
    font-size: 0.75rem;

    .genreName {
      display: inline-block;
      background: $black;
      padding: 0.25rem 0.5rem;
      margin: 0 1rem 0.5rem 0;
      border-radius: 0.5rem;
      border: 1px solid $very_dark_grey;
      color: $dark_grey;
    }
  }

  .description {
    font-size: 1rem;
    padding-bottom: 1rem;
    color: $dark_grey;
    border-bottom: 1px solid $very_dark_grey;
  }

  .extraPart {
    .companiesContainer {
      border-bottom: 1px solid $very_dark_grey;
      padding-bottom: 1rem;
      font-size: 0.85rem;

      .titleCompany {
        font-weight: bold;
        margin-right: 0.5rem;
        color: $dark_grey;
      }

      .companyName {
        color: $blue;
        line-height: 1.15rem;
        font-style: italic;
      }
    }

    .budget {
      border-bottom: 1px solid $very_dark_grey;
      padding: 1rem 0;
      font-size: 0.85rem;

      .titleBudget {
        font-weight: bold;
        margin-right: 0.5rem;
        color: $dark_grey;
      }

      .budgetSum {
        color: $blue;
        line-height: 1.15rem;
        font-style: italic;
      }
    }

    .homepage {
      padding: 1rem 0;
      font-size: 0.85rem;

      .titleWebsite {
        font-weight: bold;
        margin-right: 0.5rem;
        color: $dark_grey;
      }

      .website {
        color: $blue;
        line-height: 1.15rem;
        font-style: italic;
        word-wrap: break-word;
      }
    }
  }
}

@media screen and (min-width: 769px) {
  .wrapper {
    gap: 1.25rem;

    .headerPart {
      font-size: 1rem;

      .title {
        font-size: 2.5rem;
        line-height: 2.5rem;
        margin-bottom: 0.75rem;
      }

      .bookmark {
        font-size: 1rem;
        padding: 0.75rem;
        max-height: 2.5rem;
        height: 2.5rem;
        min-width: 161px;

        > span > span {
          font-size: 1.25rem;
        }
      }
    }

    .promotionalPart {
      flex-wrap: nowrap;

      .trailer {
        height: 20rem;
        max-width: 700px;
      }
    }

    .genresContainer {
      font-size: 1rem;
    }

    .description {
      font-size: 1.25rem;
      padding-bottom: 1.25rem;
    }

    .extraPart {
      .companiesContainer {
        font-size: 1rem;

        .titleCompany {
          margin-right: 1rem;
        }

        .companyName {
          line-height: 1.5rem;
        }
      }

      .budget {
        font-size: 1rem;

        .titleBudget {
          margin-right: 1rem;
        }
      }

      .homepage {
        font-size: 1rem;

        .titleWebsite {
          margin-right: 1rem;
        }
      }
    }
  }
}

@media screen and (min-width: 1025px) {
  .wrapper {
    gap: 1.5rem;

    .headerPart {
      font-size: 1.25rem;

      .title {
        font-size: 3rem;
        line-height: 3.15rem;
        margin-bottom: 1.25rem;
      }

      .bookmark {
        font-size: 1.25rem;
        padding: 1rem;
        max-height: 3.5rem;
        height: 3.5rem;
        min-width: 202px;

        > span > span {
          font-size: 1.5rem;
        }
      }
    }

    .promotionalPart {
      .poster {
        height: 25rem;
        border-radius: 1rem;
        margin-right: 1.5rem;
        margin-bottom: 1rem;
      }

      .trailer {
        height: 25rem;
        max-width: 700px;
      }
    }

    .genresContainer {
      font-size: 1.25rem;
    }

    .description {
      font-size: 1.35rem;
      padding-bottom: 1.5rem;
    }

    .extraPart {
      .companiesContainer {
        font-size: 1.25rem;

        .titleCompany {
          margin-right: 1.5rem;
        }

        .companyName {
          line-height: 1.5rem;
        }
      }

      .budget {
        font-size: 1.25rem;

        .titleBudget {
          margin-right: 1.5rem;
        }
      }

      .homepage {
        font-size: 1.25rem;

        .titleWebsite {
          margin-right: 1.5rem;
        }
      }
    }
  }
}