.filmsTitle {
  font-size: 1.5rem;
  margin: 1rem 1rem 0;
}

.filmsList {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
}

@media screen and (min-width: 769px) {
  .filmsTitle {
    font-size: 2rem;
    margin: 1.5rem 1.5rem 0;
  }

  .filmsList {
    gap: 1rem;
    grid-template-columns: repeat(auto-fill, minmax(190px, 1fr));
  }
}

@media screen and (min-width: 1025px) {
  .filmsTitle {
    font-size: 2.5rem;
    margin: 2rem 2rem 0;
  }

  .filmsList {
    gap: 1.5rem;
    grid-template-columns: repeat(auto-fill, minmax(220px, 1fr));
  }
}
