.wrapper {
  display: flex;
  flex-direction: column;
  background: rgb(16, 20, 31);
  height: 100vh;

  .contentWrapper {

  }
}

@media screen and (min-width: 769px) {
  .wrapper {
    flex-direction: row;
  }
}