$phone_width: 9rem;
$laptop_width: 11.25rem;
$desktop_width: 13.75rem;

$full: 100%;
$screen_h: 100vh;
$screen_w: 100vw;

$transition_dur: 500ms;

$circle: 50%;

$white: rgb(255, 255, 255);
$black: rgb(0, 0, 0);
$grey: rgb(156 163 175);
$dark_grey: rgba(255, 255, 255, 0.6);
$very_dark_grey: rgba(255, 255, 255, 0.3);
$light_grey: rgb(74, 84, 120);
$blue: rgba(87, 153, 239, 1);
$dark_blue: rgb(22, 29, 47);
